
/* .App{
  width: 1440px;
  height: 4380px;
} */

.header {
  width: 1440px;
  height: 770px;
  color: white;
}


.logo {
  padding-top: 250px;
  width: 1170px;
  height: 221.22;
  margin: 0 auto;
}
