
/* .App{
  width: 1440px;
  height: 4380px;
} */

.header {
  height: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  ". . . . . ."
  ". logo logo logo logo ."
  ". . footer footer . .";
}

footer {
  color: black;
  font-size: 0.8em;
  text-align: center;
  align-self: center;
  grid-area: footer;
}


.logo {
  grid-area: logo;
}
